@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My GitHub: <a href="https://github.com/TheVerzius">https://github.com/TheVerzius</a>.</p>
</div>
